fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
openai
pydantic
pydantic-settings
requests
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
asyncpg
pypdf
python-pptx
tiktoken
loguru
pytest
pytest-asyncio
httpx
aiosqlite
flake8
bandit
safety
aiosmtplib